# MongoDB Connection URI
# Local MongoDB: mongodb://localhost:27017/sampleDB
# MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/sampleDB
MONGODB_URI=mongodb://localhost:27017/sampleDB